### Q1

Name the four built-in data structures in python. Give one examples for each

In [3]:
List:[1,2,3,45,6,7]

Dictionary:{"Student_1":"Aaron", "Student_2":"Eddy", "Student_3":"Keith", "Student_4":"Joshua"}

Sets:{2,4,6,8,10}

Tuples:(1,3,5,7,8)

### Q2

State two differences between a list and a tuple in Python.

Lists are ordered and mutable data structures whilst tuples are ordered and immutable data structures.
Operations like insertion and deletion are better performed in lists whilst Tuples are elements can be accessed better

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [19]:
# Print the first two animals
animal_list=["Fish","Cheetah","Snake","Lion","Mouse"]

# Print the last two animals
print(animal_list[:2])
print(animal_list[-2:])

# Add three extra animals to the list
animal_list.extend(["Frog","Dog","Cat"])
print(animal_list)

# Remove the first two animals from the variable animal_list
animal_list.remove("Fish")
animal_list.remove("Cheetah")
print(animal_list)

#How many animals in the list?
print(len(animal_list))

animal_set = set(animal_list)

print(animal_set)

print(len(animal_set))

['Fish', 'Cheetah']
['Lion', 'Mouse']
['Fish', 'Cheetah', 'Snake', 'Lion', 'Mouse', 'Frog', 'Dog', 'Cat']
['Snake', 'Lion', 'Mouse', 'Frog', 'Dog', 'Cat']
6
{'Lion', 'Cat', 'Frog', 'Dog', 'Mouse', 'Snake'}
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [22]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
print(suitcase)

first = suitcase[:2]
middle = suitcase[2:4]
last= suitcase[-2:]

print(first)
print(middle)
print(last)

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']
['sunglasses', 'hat']
['passport', 'laptop']
['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [23]:
values = [20,25,30,40,45,50,55,60,65,70]

values.insert(3,35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

Tuples are used when data structures are immutable but ordered.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [24]:
region_capital={"Eastern":"Koforidua","Greater Accra":"Accra","Northern":"Tamale","Central":"Cape Coast","Ashanti":"Kumasi"}

print(region_capital.keys())
print(region_capital.values())

dict_keys(['Eastern', 'Greater Accra', 'Northern', 'Central', 'Ashanti'])
dict_values(['Koforidua', 'Accra', 'Tamale', 'Cape Coast', 'Kumasi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [34]:
values=[3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
print(len(values))
max(values)
values_set = set(values)
print(values_set)
len(values_set)

15
{1, 2, 3, 4, 5, 6}

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [35]:
for k,v in values;
   a

values = [2,3,4,5,6,7,8,9,10,11,12,13,14]

SyntaxError: invalid syntax (928874619.py, line 1)

In [ ]:
myDict = {x: x**2 for x in [2,3,4,5,6,7,8,9,10,11,12,13,14]}

myDict

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.