### Q1
List the basic data types in python and give one example each.

In [1]:
string : "Eddy"
integer : 8
Boolean : True 
Float : 8.6

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [4]:
x = 4539.85
y = str(x)
z = int(x)

print(x)
print(z)
type(y)
type(z)

4539.85
4539

int

### Q3

What data type would you use to store 

a. The price of car? : Float

b. The age of a person : integer

c. car plate number: plateNumber = "AV01-AFP"? : String

d. The price of fuel : Float

e. The number of students in the class : Integer

f. The weight of a person : Float

g. Check whether two figures are equal : Boolean

i. The name of a  school : String

j. The average result of the overall score of a student : Float

k. The total number of vote cast : Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [64]:
A = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
B = A.split(".")
#print(B)
statement_1 = B[0]
statement_2 = B[1]
print(statement_1 )
print(statement_2)

print(len(statement_1))
print(len(statement_2))

len(statement_1)> len(statement_2)

Thomas Partey is arguably the best player in the Black Stars
 He is a great addition to the team
60
35

True

### Q5
What values does python use to represent **True** and **False** respectively?
True : 1, False : 0

In [ ]:
### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [18]:
79 > 46 and 78 < 30 and 30%2 == 1

False

In [19]:
 E = 8-2 
(E%2 == 0) or (E%2 == 1)

True

In [23]:
b = "boostrap"
s = "sample"

len(b) ==7 and len(s) == 6

False

In [ ]:
### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [37]:
word ='Hello, How are you?'

In [52]:
print(word[7:10])
print(word[7:18])
print(word[10:14])
print(word[-1])
print(word[:-1])

How
How are you
 are
?
Hello, How are you

In [ ]:
### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [69]:
sentence = "I am very excited"
print(sentence.upper())
print(sentence.lower())
print(sentence.title())
print(sentence.capitalize())

I AM VERY EXCITED
i am very excited
I Am Very Excited
I am very excited

In [ ]:
### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [81]:
word = 'OneThirtyEight'
print(word[:3])
print(word[3:9])
print(word[:9])
print(word[3:])
print(word.upper())

One
Thirty
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [82]:
name = "Ault'Kelly"
print(name)

Ault'Kelly